<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/saved">Saved Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-danger scrape-new">Scrape New Articles</a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Your Saved Articles</h1>
  </div>
</div>

<div class="article-container container-fluid">
    
</div>